{% if posts | length > 0 %}
    <div class="app-grid {% if include is defined %}two{% endif %}">
        {% for post in posts %}
            {% if (post.category.isOnline and post.isOnline) or is_granted('ROLE_ADMIN') %}
                <div class="grid-item">
                    <div class="grid-item-header">
                        <a href="{{ path('app_blog_post_show', {'slug': post.slug}) }}">
                            {% if post.media %}
                                <img src="{{ asset('assets/img/post/' ~ post.media) }}" class="grid-item-media" alt="{{ post.title }}" />
                            {% else %}
                                <img src="{{ asset('assets/img/post/_placeholder.jpg') }}" class="grid-item-media" alt="{{ post.title }}" />
                            {% endif %}
                        </a>

                        {% if is_granted('ROLE_ADMIN') %}
                            {% if post.isOnline %}
                                <i class="fas fa-eye"></i>
                            {% else %}
                                <i class="fas fa-eye-slash"></i>
                            {% endif %}
                        {% endif %}

                        <h3 class="grid-item-title">
                            <a href="{{ path('app_blog_post_show', {'slug': post.slug}) }}">{{ post.title }}</a>
                        </h3>
                    </div>

                    <div class="grid-item-body">
                        <p class="grid-item-info">
                            <a href="{{ path('app_blog_category_show', {'slug': post.category.slug}) }}">{{ post.category.name }}</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p class="info">Aucun article :/</p>
{% endif %}
