{% extends 'layouts/_default.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block page_title %}Connexion{% endblock %}

{% block body_class %}login{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <p>
            Vous êtes déjà connecté,  {{ app.user.userIdentifier }} !<br />
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </p>
    {% endif %}

    <form method="post" class="app-form">
        <div class="form-group">
            <label for="inputEmail">Votre adresse e-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="ex: sophie@dupont.com" required autofocus />
        </div>
        <div class="form-group">
            <label for="inputPassword">Votre mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required />
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <button class="app-button" type="submit">
            <i class="fas fa-lock-open"></i>
            Connexion
        </button>
    </form>
{% endblock %}
